body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.category-aktif {
  background-color: #22668A;
  color: white;
}

.wadah{
  max-height: 60vh;
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

.list-menu{
  transition: 0.4s;
  border-radius: 5px;
}

.list-menu:hover{
  background-color: rgba(24, 28, 16, 0.14);
  cursor: pointer;
}

.navigasi{
  background: rgb(9,147,4);
background: linear-gradient(90deg, rgba(9,147,4,1) 0%, rgba(41,193,92,1) 47%, rgba(7,147,180,1) 100%);
}

.gambar {
  color: white;
  margin-right: 5px;
}